/*custom styling*/
body {
  color:#233237;
}
.navbar {
  margin:0;
  margin-bottom:10px;
}
.navbar-brand {
  padding:0;
}
.navbar-brand img {
height: 80%;
padding-left: 20px;
padding-right: 20px;
}
.navbar-default .navbar-nav>.active>a {
  background-color:transparent;
}
.hero {
  background-size:cover;
}
.about {
  min-height:200px;
}
.hero img {
  width:100%;
  }
.hero p {
  text-align:center;
  font-size:42px;
  color:#28170D;
  font-family:'Cinzel', serif;
  margin-top:-60px;
  }
#allcupcakes {
  padding: 10px;
}
#somecupcakes {
  padding: 10px;
}

.thumbnails img {
  width:20%;
  height:auto;
}
/*display partial thumbnail grid with button for mobile view*/
 #somecupcakes {
    display:block;
}
  #allcupcakes {
    display:none;
}
#customorder p {
  font-family:'Playfair Display', serif;
}
.findus img {
  padding: 50px;
  padding-bottom:0px;
}
.list-group {
  list-style-type:none;
  padding: 30px;
  padding-bottom:0px;
}
#title {
  text-align:center;
}
ul.item {
  border: 1px;
  }
.about img {
padding: 90px;
}
.abouttext {
    padding: 60px;
    padding-bottom: 0px;
  }
.panel-footer {
    background-image:url("design/woodbackgroundcropped.jpg");
    min-height:150px;
 }
 
/*for tablets, show full thumbnail grid and display larger images*/
@media only screen and (min-width: 768px) {
  #allcupcakes {
    display:block;
  }
  #somecupcakes {
    display:none;
  }
  .custom img {
    min-height: 200px;
  }
  #allcupcakes {
    padding: 20px;
  }
  .thumbnails img {
    width: 30%;
    height:auto;
  }
  .findus img {
    width: 80%;
    padding: 20px;
  }
  .about {
    width: 90%;
  }
  .about img {
   padding: 40px;
  }
  .abouttext {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .panel-footer {
    min-height: 250px;
 }
}
/*for desktops, a few styling tweaks*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .custom img {
    min-height: 250px;
  }
  #allcupcakes {
    padding: 40px;
  }
  .thumbnails img {
    width: 45%;
    height:auto;
  }
  .findus img {
    width: 90%;
    padding: 50px;
    margin-left: 50px;
  }
  .about {
    width: 95%;
  }
  .about img {
   padding: 20px;
  }
  .abouttext {
    padding-top: 75px;
    padding-left: 150px;
  }
  .panel-footer {
    min-height: 280px;
 }
}
/*for very large screens, increase height of sections for visual balance*/
@media only screen and (min-width: 1200px) {
  .navbar-brand {
    min-height: 50px;
  }
  .navbar {
    padding-top: 10px;
  }
  .thumbnails img {
    width: 60%;
    height:auto;
  }
  .about {
    min-height:300px;
    padding-bottom:20px;
  }
  .findus img {
    width: 100%;
    padding: 75px;
  }
  .about img {
    width:100%;
  }
  .custom {
    min-height:300px;
  }
  .findus {
    min-height:300px;
  }
  #location {
    padding-top:100px;
  }
  .abouttext {
    padding: 100px;
    padding-left:150px;
    padding-bottom: 120px;
  }
  .panel-footer {
    min-height: 300px;
  }
  .panel-footer img {
    margin:auto;
    width: 10%;
  }
}
 